body{    
    font-family: georgia;
    background-color: #9E3B33; 
    }

h1{        
    color:#ADC96B;    
    text-align: center;    
    }
    
h2{        
    color:#ADC96B;    
    }

p {    
    color:  #E9B64D;    
    text-indent: 20px;        
    }